[Unit]
Description=Reads the Codex560 counter used for the depth encoder

[Service]
Type=simple
ExecStart=/usr/bin/python2 /home/pi/drill-displays/codex560.py
Restart=always

[Install]
WantedBy=multi-user.target